<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.etc.mao.myservlet.Login</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectShow</servlet-name>
    <servlet-class>com.etc.mao.myservlet.SelectShow</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowReply</servlet-name>
    <servlet-class>com.etc.mao.myservlet.ShowReply</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>StuLogin</servlet-name>
    <servlet-class>com.etc.mao.myservlet.StuLogin</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddStudent</servlet-name>
    <servlet-class>com.etc.mao.myservlet.AddStudent</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddRepair</servlet-name>
    <servlet-class>com.etc.mao.myservlet.AddRepair</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ShowMy</servlet-name>
    <servlet-class>com.etc.mao.myservlet.ShowMy</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateComment</servlet-name>
    <servlet-class>com.etc.mao.myservlet.UpdateComment</servlet-class>
  </servlet>








  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectShow</servlet-name>
    <url-pattern>/SelectShow</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowReply</servlet-name>
    <url-pattern>/ShowReply</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StuLogin</servlet-name>
    <url-pattern>/StuLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddStudent</servlet-name>
    <url-pattern>/AddStudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddRepair</servlet-name>
    <url-pattern>/AddRepair</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowMy</servlet-name>
    <url-pattern>/ShowMy</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateComment</servlet-name>
    <url-pattern>/UpdateComment</url-pattern>
  </servlet-mapping>
  
   <filter>  
        <filter-name>EncodingFilter</filter-name><!--过滤器名称，自己起 -->  
        <filter-class>com.etc.mao.myservlet.SetMyEconding</filter-class><!--过滤器类名称，包括包名一致、写全 -->  
        <init-param><!--初始化参数,要指定的字符集编码 -->  
            <param-name>encoding</param-name><!--参数名称 -->  
            <param-value>utf8</param-value><!--参数值 -->  
        </init-param>  
        <init-param><!--初始化参数,指定是否忽略大小写 -->  
            <param-name>ignore</param-name>  
            <param-value>true</param-value>  
        </init-param>  
    </filter>  
    <filter-mapping>  
        <filter-name>EncodingFilter</filter-name>  
        <url-pattern>/*</url-pattern> <!--“/*”表示项目下所有资源 -->  
    </filter-mapping>  

</web-app>